# Java Files #
*.class
*.jar
*.war
*.ear

# other vcs
*.svn

# swap
*.swp
*~

# backups
*.bak
bak
.back*

# trashes
_trash

# report files
*.pdf

# build
node_modules
_build
webroot
.npm
package-lock.json

# image projects
*.kra

# audio projects
*.aup
snd/*_data
