# Java Files #
*.class
*.jar
*.war
*.ear

# Python bytes
*.pyc

# other vcs
*.svn

# swap
*.swp
*~

# backups
*.bak
bak
.back*

# logs / traces
*.log
*.pid
*.out

# vim sessions
*.vim

# trashes
_trash

# report files
*.pdf

# build
node_modules
_build
_lint
_concatenated_*
.lint_errors
webroot
.npm
package-lock.json

# image projects
*.kra

# audio projects
*.aup
*_data
*.mmpz

# audio / shall be explicit
*.mp3
*.wav
*.ogg

# pictures / shall be explicit
*.png
*.xcf
*.gif

# others packages
*.tgz
*.tar.gz
*.zip
