.ghost-monitor:before {
  content:'screen reader';
  text-decoration:underline;
}
.ghost-monitor {
  color:grey;
  font-family:mono;
  font-size:0.5em;
  position:absolute;
  right:0;
  text-transform:uppercase;
  width:50%;
  z-index:-99;
}

